<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h4><b>Books</b></h4>
                    <!-- form for insert data -->
                </div>
                <div class="card-body">
                    <form #form="ngForm" autocomplete="off" (submit)="OnSubmit(form)">
                        <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="books_service.formData.Id">
                        <div class="form-group">
                            <input type="text" name="BookCode" #BookCode="ngModel" [(ngModel)]="books_service.formData.BookCode" class="form-control" placeholder="Book Code" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="BookName" #BookName="ngModel" [(ngModel)]="books_service.formData.BookName" class="form-control" placeholder="Book Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="BookCount" #BookCount="ngModel" [(ngModel)]="books_service.formData.BookCount" class="form-control" placeholder="Book Count" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <!-- table for view books -->
            <table class="table table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Book Code</th>
                    <th>Book Name</th>
                    <th>Book Count</th>
                </tr>
                <tr *ngFor="let book of bookList">
                    <td (click)="populateForm(book)">{{book.Id}}</td>
                    <td (click)="populateForm(book)">{{book.BookCode}}</td>
                    <td (click)="populateForm(book)">{{book.BookName}}</td>
                    <td (click)="populateForm(book)">{{book.BookCount}}</td>
                    <td><button class="btn btn-danger" (click)="DeleteBook(book.Id)">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>